{
  "Id": "",
  "GameId": "",
  "EntryKey": "config://customfont",
  "ContentType": "x-mod/config",
  "Content": "",
  "Usage": 0,
  "UsePublish": 1,
  "UseService": 0,
  "CoreVersion": "26.7.0.0",
  "StudioVersion": "0.1.0.0",
  "DynamicLoading": 0,
  "ContentProto": {
    "Use": "Json",
    "Json": {
      "Fonts": [],
      "Groups": [],
      "config_id": "config://customfont"
    }
  }
}